<div class="row">
    <div class="col-12" style="display: flex; justify-content: center">
        <h1 style="color: #00818A; margin-top: 50px; margin-bottom: 30px;"> Lista de Productos: </h1>
    </div>
</div>


<div class="row container" style="width: 90%; margin: auto;">
    {{#each productos}}
        <a class="col-12 col-xs-12 col-sm-12 col-md-6 col-lg-6 button_mesa" style="padding: 25px; text-decoration: none;" href="/index/{{restaurante}}/{{id}}/busqueda">
        <!--        {{#if ocupado}}-->
            <!--        <a class="col-12 col-xs-12 col-sm-12 col-md-6 col-lg-6 button_mesa" style="padding: 25px; text-decoration: none;" href="/index/{{restaurante}}/{{id}}/ocupado">-->
                <!--        {{else}}-->
            <!--        <a class="col-12 col-xs-12 col-sm-12 col-md-6 col-lg-6 button_mesa" style="padding: 25px; text-decoration: none;" href="/index/{{restaurante}}/{{id}}/libre">-->
                <!--        {{/if}}-->
            <div class="row"
                 style="border-radius: 0.5rem; border:2px solid #00818A; font-weight: 600; cursor: pointer; font-size: 1.25rem; padding: 0.5rem 1rem 0.5rem 1rem;width: 100%; color:#00818A; background-color: white; display: flex; justify-content: center; margin: 10px; text-align: center;">
                <div class="col-12">Producto: {{nombre}}</div>
                <div class="col-12">Precio: {{precio_venta}}</div>
                <div class="col-12">Categoria: {{categoria}}</div>
            </div>
        </a>
    {{/each}}
</div>


<script type="text/javascript">
</script>