<div class="row">
    <div class="col-12" style="display: flex; justify-content: center">
        <h1 style="color: #00818A; margin-top: 50px; margin-bottom: 30px;"> Desea confirmar su reserva? </h1>
    </div>
</div>


<!--<div class="row container" style="width: 20rem; margin: auto; padding: 50px; background-color: #e9ecef; border-radius: 0.5rem;">-->
<!--    <div>-->
<!--        <span style="color: #00818A">Cedula del cliente: </span>-->
<!--        <span>{{data.cedula}}</span>-->
<!--        <br>-->
<!--        <span style="color: #00818A">Restaurante </span>-->
<!--        <span>{{restaurante}}</span>-->
<!--        <br>-->
<!--        <span style="color: #00818A">Mesa: </span>-->
<!--        <span>{{mesa}}</span>-->
<!--        <br>-->
<!--    </div>-->
<!--</div>-->


<div class="container" style="margin: auto;">
    <form id="reserva" method="post" action="/index/{{restaurante}}/{{mesa}}/{{cliente}}/create" style="width: 20rem; margin: auto; padding: 50px; background-color: #e9ecef; border-radius: 0.5rem;">
        <div>
            <strong> Datos de la reserva: </strong>
            <br>
            <span style="color: #00818A">Cedula del cliente: </span>
            <span>{{data.cedula}}</span>
            <br>
            <span style="color: #00818A">Restaurante </span>
            <span>{{restaurante}}</span>
            <br>
            <span style="color: #00818A">Mesa: </span>
            <span>{{mesa}}</span>
        </div>
        <button type="submit" name="btnSubmit">Confirmar</button>
        <br>
        <br>
    </form>
    <h1 style="color: #00818A; margin-top: 50px; margin-bottom: 30px;"> Esperando cliente para reservar: </h1>
    <span>Restaurante: </span><span id="restaurante">{{restaurante}}</span><br>
    <span>Mesa: </span><span id="mesa">{{mesa}}</span><br>
</div>
