<div class="row">
    <div class="col-12" style="display: flex; justify-content: center">
        <h1 style="color: #00818A; margin-top: 50px; margin-bottom: 30px;"> Desea confirmar su reserva? </h1>
    </div>
</div>


<!--<div class="row container" style="width: 20rem; margin: auto; padding: 50px; background-color: #e9ecef; border-radius: 0.5rem;">-->
<!--    <div>-->
<!--        <span style="color: #00818A">Cedula del cliente: </span>-->
<!--        <span>{{data.cedula}}</span>-->
<!--        <br>-->
<!--        <span style="color: #00818A">Restaurante </span>-->
<!--        <span>{{restaurante}}</span>-->
<!--        <br>-->
<!--        <span style="color: #00818A">Mesa: </span>-->
<!--        <span>{{mesa}}</span>-->
<!--        <br>-->
<!--    </div>-->
<!--</div>-->


<div class="container" style="margin: auto;">
    <form id="reserva" method="post" action="/index/{{restaurante}}/{{mesa}}/{{cliente}}/create"
          style="width: 20rem; margin: auto; padding: 50px; background-color: #e9ecef; border-radius: 0.5rem;">
        <div style="text-align: center;">
            <strong> Datos de la reserva </strong>
            <br>
            <strong style="color: #00818A">Cedula del cliente: </strong>
            <span>{{data.cedula}}</span>
            <strong style="color: #00818A">Nombre: </strong>
            <span>{{data.nombre}} {{data.apellido}}</span>
            <br>
            <strong style="color: #00818A">Restaurante: </strong>
            <span style="text-align: right">{{restaurante}}</span>
            <br>
            <strong style="color: #00818A">Mesa: </strong>
            <span>{{mesa}}</span>
        </div>
        <div style="display: flex; justify-content: center">
            <button type="submit"
                    style=" background: #00818A; color: white; border: 2px solid #00818A; border-radius: 0.2rem; margin-top: 30px;"
                    name="btnSubmit">Confirmar
            </button>
        </div>
        <br>
        <br>
    </form>
</div>
